{% extends "general/base.html" %}
{% block content %}
{% include "includes/topNav.html" %}
<div class="col-md-6 col-md-offset-0">
    <div class="row">
        <h1>Crawler</h1>
        <hr>
    </div>
        {% for obj in object_list %}
        {% if obj.isrunning %}
            <div class="col-md-12" style="background-color:#e5ffe5; border: 1px solid #007f00; border-radius: 15px; margin-bottom: 15px">
        {% else %}
            <div class="col-md-12" style="background-color:#eeeeee; border: 1px solid #ccc; border-radius: 15px; margin-bottom: 15px">
        {% endif %}
              <div class="row">
                  <div class="col-md-12">
                    <h1><a href='{{obj.get_absolute_url}}'>{{ obj.name }}</a></h1>
                      <small>
                          {% if obj.isrunning %}
                            der Crawler läuft
                          {% else %}
                            der Crawler läuft nicht
                          {% endif %}
                      </small>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-4">Starturl: </div>
                  <div class="col-md-8"><a href="{{ obj.starturl }}">{{ obj.starturl }}</a></div>
              </div>
              <div class="row">
                  <div class="col-md-4">entitytyp: </div>
                  <div class="col-md-8">{{ obj.entitytyp }}</a></div>
              </div>
              <div class="row" style="padding:15px;">
                  <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">Detailansicht</a>
                  <a href="{{obj.get_absolute_url}}edit" class="btn btn-default" role="button">Bearbeiten</a>
                  <a href="{{obj.get_absolute_url}}delete" class="btn btn-default" role="button">Löschen</a>
                  {% if obj.isrunning %}
                    <a href="{{obj.get_absolute_url}}stop" class="btn btn-default" role="button">Stop</a>
                  {% else %}
                    <a href="{{obj.get_absolute_url}}start" class="btn btn-default" role="button">Start</a></p>
                  {% endif %}

                  <!--<a href="{{obj.get_settings}}" class="btn btn-default" role="button">Settings</a></p>-->
              </div>
          </div>
    {% endfor %}
    <p style="text-align:center;"><a href="{{obj.get_absolute_url}}create" class="btn btn-primary" role="button">Crawler anlegen</a></p>
</div>
<div class="col-md-6 col-md-offset-0">
    <div class="row">
        <h1>bisherige Resultate</h1>
        <hr>
            {% for obj in crawler_result_object_list %}
          <div class="col-md-12" style="background-color:#eeeeee; border: 1px solid #ccc; border-radius: 15px; margin-bottom: 15px">
              <div class="row">
                  <div class="col-md-12">
                    <h1>{{ obj.crawler }}<small> {{obj.created}}</small></h1>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3">dataset: </div>
                  <div class="col-md-3">{{ obj.entitytyp }}</div>
              </div>
              <div class="row">
                  <div class="col-md-3">totalpages: </div>
                  <div class="col-md-3">{{ obj.totalpages }}</div>
              </div>
              <div class="row">
                  <div class="col-md-3">crawledpages: </div>
                  <div class="col-md-3">{{ obj.crawledpages }}</div>
              </div>
                <div class="row" style="padding:15px;">
                  <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">Detailansicht</a>
                  <a href="{{obj.get_absolute_url}}delete" class="btn btn-default" role="button">Löschen</a>
              </div>
          </div>
    {% endfor %}
        <hr>
    </div>
</div>
    {% endblock content %}
</div>