{% extends "general/base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super}} {% endblock head_title %}
{% block content %}
    {% include "includes/topNav.html" %}
    <div class='col-sm-10 col-sm-offset-1'>
        <h1> {{instance.name}}:<br></h1>
        <hr>
        <div class="row" style="background-color:#eeeeee; padding: 20px">
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Starturl:</div><div class="col-md-4"> {{ instance.starturl }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">entitytyp: </div><div class="col-md-4"> {{ instance.entitytyp }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Datensätze speichern: </div><div class="col-md-4"> {{ instance.insertIntoDB }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Postprocessing aktivieren: </div><div class="col-md-4"> {{ instance.doPostprocessing }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Datenbank bereinigen: </div><div class="col-md-4"> {{ instance.clearDatabase }}</div>
            </div>
        </div>
        <hr>
        <h2>Settings: </h2>
        <div class="row" style="background-color:#eeeeee; padding: 20px">
            {% if instance.entitytyp == 'EC' %}
            <div class="row" style="padding: 5px">
                <div class="col-md-3">CodeElementClass: </div><div class="col-md-4"> {{ settings.attr01 }}</div>
                </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">CodeElementElem: </div><div class="col-md-4"> {{ settings.attr02 }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">ExplanationElementElement: </div><div class="col-md-4"> {{ settings.attr03 }}</div>
                </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">ExplanationElementClass: </div><div class="col-md-4"> {{ settings.attr04 }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">SolutionElementElement: </div><div class="col-md-4"> {{ settings.attr05 }}</div>
                </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">solutionElementClasse: </div><div class="col-md-4"> {{ settings.attr06 }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">mydomain: </div><div class="col-md-4"> {{ settings.attr07 }}</div>
                </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Myurl: </div><div class="col-md-4"> {{ settings.attr08 }}</div>
            </div>
            {% else %}
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Area['class']: </div><div class="col-md-4"> {{ settings.attr01 }}</div>
                </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Area['element']: </div><div class="col-md-4"> {{ settings.attr02 }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Name['class']: </div><div class="col-md-4"> {{ settings.attr03 }}</div>
                </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Name['element']: </div><div class="col-md-4"> {{ settings.attr04 }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Info['class']: </div><div class="col-md-4"> {{ settings.attr05 }}</div>
                </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Info['element']: </div><div class="col-md-4"> {{ settings.attr06 }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Phone['class']: </div><div class="col-md-4"> {{ settings.attr07 }}</div>
                </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Phone['element']: </div><div class="col-md-4"> {{ settings.attr08 }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Mail['class']: </div><div class="col-md-4"> {{ settings.attr09 }}</div>
                </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Mail['element']: </div><div class="col-md-4"> {{ settings.attr10 }}</div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class='col-sm-10 col-sm-offset-1'>
        <div class="row" style="padding:10px">
            <div class="col-md-2"><a href="{% url 'a2:crawler_list' %}" class="btn btn-primary" role="button">OK</a></div>
            <div class="col-md-2"><a href="{{obj.get_absolute_url}}edit" class="btn btn-default" role="button">Bearbeiten</a></div>
            <div class="col-md-2"><a href="{{obj.get_absolute_url}}delete" class="btn btn-default" role="button">Löschen</a></div>
        </div>
    </div>
{% endblock content %}