{% extends "general/base.html" %}
<div class='col-sm-10 col-sm-offset-2'>

{% block content %}
    {% include "includes/topNav.html" %}

    <form method='POST' action=''>{% csrf_token %}
        <h1>Crawler erstellen</h1>
        <hr>
        <h1> Manuelle Eingabe BETA:</h1>
        <div class="fieldWrapper">
            <label for="{{ form.crawler.id_for_label }}">crawler:</label>
            {{ form.crawler }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.CodeElementClass.id_for_label }}">CodeElementClass:</label>
            {{ form.codeElementClass }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.CodeElementElem.id_for_label }}">CodeElementElem :</label>
            {{ form.codeElementElem  }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.ExplanationElementElement.id_for_label }}">ExplanationElementElement :</label>
            {{ form.explanationElementElement }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.ExplanationElementClass.id_for_label }}">ExplanationElementClass:</label>
            {{ form.explanationElementClass }}
        </div>
        <div class="fieldWrapper">
                    <label for="{{ form.SolutionElementElement.id_for_label }}">SolutionElementElement: </label>
                {{ form.solutionElementElement  }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.SolutionElementClass.id_for_label }}">SolutionElementClass:</label>
            {{ form.solutionElementClass }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.Mydomain.id_for_label }}">mydomain:</label>
            {{ form.mydomain }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.Myurl.id_for_label }}">Myurl:</label>
            {{ form.mydomain }}
        </div>



        <div class='col-sm-10 col-sm-offset-1'>
            {% for field in form %}
                {{ field.errors }}
                <div class="row">
                    <div class="col-md-3">{{ field.label_tag }}</div>
                    <div class="col-md-4">{{ field }}</div>
                </div>
                {% if field.help_text %} <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
            {% if field.help_text %}
            [% else %}
            {% endif %}
        <hr>
        {% if form.instance.pk %}
        <input type='submit' value='Updaten' class="btn btn-default"/>
        {% else %}
        <input type='submit' value='Crawler erstellen' class="btn btn-default"/>
        {% endif %}
        </div>
    </form>
{% endblock content %}
</div>