{% extends "general/base.html" %}
<div class='col-sm-10 col-sm-offset-2'>

{% block content %}
    {% include "includes/topNav.html" %}

    <form method='POST' action=''>{% csrf_token %}
        <h1>Crawlereinstellungen</h1>
        <hr>
        {% if crawler.entitytyp == 'Error Codes' %}
               <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
                    <label for="{{ form.attr01.id_for_label }}">errorUrl:</label>
                </div>
                <div class="col-md-10">
                    {{ form.attr01 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr02.id_for_label }}">errorBrand:</label>
                </div>
                <div class="col-md-10">
            {{ form.attr02 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr03.id_for_label }}">errorArea['elem']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr03  }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr04.id_for_label }}">errorArea['class']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr04 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr05.id_for_label }}">errorCodeElement['elem']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr05 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr06.id_for_label }}">errorCodeElement['class']: </label>
                    </div>
                <div class="col-md-10">
            {{ form.attr06 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr07.id_for_label }}">errorExplanationElement['elem']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr07 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr08.id_for_label }}">errorExplanationElement['class']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr08 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr09.id_for_label }}">errorSolutionElement['elem']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr09 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr10.id_for_label }}">errorSolutionElement['class']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr10 }}
                </div>
            </div>
        </div>
            <hr>
        {% else %}
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
                    <label for="{{ form.attr01.id_for_label }}">contactUrl:</label>
                </div>
                <div class="col-md-10">
                    {{ form.attr01 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr02.id_for_label }}">contactOrganisation:</label>
                </div>
                <div class="col-md-10">
            {{ form.attr02 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr03.id_for_label }}">contactArea['elem']</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr03  }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr04.id_for_label }}">contactArea['class']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr04 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr05.id_for_label }}">contactNameElement['elem']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr05 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr06.id_for_label }}">contactNameElement['class']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr06 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr07.id_for_label }}">contactInfoElement['elem']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr07 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr08.id_for_label }}">contactInfoElement['class']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr08 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
            <label for="{{ form.attr09.id_for_label }}">contactPhoneElement['elem']:</label>
                    </div>
                <div class="col-md-10">
            {{ form.attr09 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
                    <label for="{{ form.attr10.id_for_label }}">contactPhoneElement['class']:</label>
                </div>
                <div class="col-md-10">
                    {{ form.attr10 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
                    <label for="{{ form.attr10.id_for_label }}">contactEmailElement['elem']:</label>
                </div>
                <div class="col-md-10">
                    {{ form.attr11 }}
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class='col-sm-12 col-sm-offset-1'>
                <div class="col-md-2">
                    <label for="{{ form.attr10.id_for_label }}">contactEmailElement['class']:</label>
                </div>
                <div class="col-md-10">
                    {{ form.attr12 }}
                </div>
            </div>
        </div>
            <hr>
        {% endif %}
            <div class='col-sm-12 col-sm-offset-1'>
        {% if form.instance.pk %}
            <input type='submit' value='Updaten' class="btn btn-default"/>
        {% else %}
            <input type='submit' value='Einstellungen speichern' class="btn btn-default"/>
        {% endif %}
            </div>
    </form>
{% endblock content %}
</div>