{% extends "general/base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super}} {% endblock head_title %}
{% block content %}
    {% include "includes/topNav.html" %}
    <div class='col-sm-10 col-sm-offset-1'>
        <h1> CrawlerSettings: {{instance.name}}<br> <small>{{ instance.created }}</small><br></h1>
        <hr>
        <div class="row" style="background-color:#eeeeee; padding: 20px">
            <div class="row" style="padding: 5px">
                <div class="col-md-3">ID:</div><div class="col-md-4"> {{ instance.id }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">Name des Crwalers: </div><div class="col-md-4"> {{ instance.name }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">starturl: </div><div class="col-md-4"> {{ instance.starturl }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">gesamtes Web: </div><div class="col-md-4"> {{ instance.everywhere }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">logging: </div><div class="col-md-4"> {{ instance.logging }}</div>
            </div>
            <h2>Zeitstempel: </h2>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">erstellt: </div><div class="col-md-4"> {{ instance.created }}</div>
                </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">updated: </div><div class="col-md-4"> {{ instance.updated }}</div>
            </div>
        </div>
    </div>
    <div class='col-sm-10 col-sm-offset-1'>
        <div class="row" style="padding:10px">
            <div class="col-md-2"><a href="{% url 'a2:crawler_list' %}" class="btn btn-primary" role="button">OK</a></div>
            <div class="col-md-2"><a href="{{obj.get_absolute_url}}edit" class="btn btn-default" role="button">Bearbeiten</a></div>
            <div class="col-md-2"><a href="{{obj.get_absolute_url}}delete" class="btn btn-default" role="button">Löschen</a></div>
        </div>
    </div>
{% endblock content %}