{% block nav %}
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>{% block nav-crawler %}<a href='http://localhost:8000/a2/crawler/'>Crawler</a>{% endblock %}</li>
            <li>{% block nav-benchmark %}<a href='http://localhost:8000/a2/benchmark/'>Benchmarks</a>{% endblock %}</li>
        </ul>
  </div>
</nav>
{% endblock %}