{% extends "general/base.html" %}
<div class='col-sm-6 col-sm-offset-3'>

{% block content %}
    {% include "includes/crawlNav.html" %}

    <form method='POST' action=''>
        <h1>Form</h1>
        <hr>
        <div class='col-sm-10 col-sm-offset-1'>
            {% for field in form %}
                {{ field.errors }}
                <div class="row">
                    <div class="col-md-3">{{ field.label_tag }}</div>
                    <div class="col-md-4">{{ field }}</div>
                </div>
                {% if field.help_text %} <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
        <hr>
        {% if form.instance.pk %}
        <input type='submit' value='Updaten' class="btn btn-default"/>
        {% else %}
        <input type='submit' value='Crawler erstellen' class="btn btn-default"/>
        {% endif %}
        </div>
    </form>
{% endblock content %}
</div>