{% extends "general/base.html" %}

{% block content %}
{% include "includes/crawlNav.html" %}
<div class="col-md-5 col-md-offset-1">
    <div class="row">
        <h1>Vorhandene Jobs:</h1>
        <hr>
    </div>
        {% for obj in object_list %}
          <div class="col-md-10" style="background-color:#eeeeee">
              <div class="row">
                  <div class="col-md-10">
                    <h1><a href='{{obj.get_absolute_url}}'>{{ obj.thread }}</a></h1><small>Crawler: {{ obj.crawler }}</small>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5">finished: </div>
                  <div class="col-md-5">{{ obj.finished }}</div>
              </div>
              <p>
                  <div class="col-md-3"><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">Detailansicht</a></div>
                  <div class="col-md-3"><a href="{{obj.get_absolute_url}}/detail" class="btn btn-default" role="button">Bearbeiten</a></div>
                  <div class="col-md-3"><a href="{{obj.get_absolute_url}}/delete" class="btn btn-default" role="button">löschen</a></div>

                  <hr>
              </p>
          </div>
    {% endfor %}
{% endblock content %}
</div>