{% extends "general/base.html" %}
<div class='col-sm-6 col-sm-offset-3'>

{% block content %}
    {% include "includes/crawlNav.html" %}
    <form method='POST' action=''>{% csrf_token %}
        <h1>Form</h1>
        {{ form.as_p }}
        <input type='submit' value='Create Crawler' class="btn btn-default"/>
    </form>
{% endblock content %}
</div>