{% extends "general/base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super}} {% endblock head_title %}
{% block content %}
{% include "includes/crawlNav.html" %}



<div class='col-sm-10 col-sm-offset-1'>
    <h1> Detailansicht von Crawler: {{instance.name}}<br> <small>{{ instance.created }}</small><br></h1>
    <hr>
    <h3>Inhalt:</h3><br>
    <p>{{ instance.content |linebreaks }}</p>
    <p>ID: {{ instance.id }}<p>
    <p>Name des Crwalers: {{ instance.name }}<p>
    <p>starturl: {{ instance.starturl }}<p>
    <p>gesamtes Web: {{ instance.everywhere }}<p>
    <p>logging: {{ instance.logging }}<p>
    <h2>Zeitstempel: </h2>
    <p>erstellt: {{ instance.created }}<p>
    <p>bearbeitet: {{ instance.updated }}<p>
</div>



    name = models.CharField(max_length=120)
    starturl = models.CharField(max_length=250)
    settings = models.OneToOneField(Settings)
    created = models.DateTimeField(auto_now=False, auto_now_add=True)

{% endblock content %}