{% extends "general/base.html" %}

{% block content %}
{% include "includes/benchNav.html" %}

<div class="col-md-5 col-md-offset-1">
    <div class="row">
        <h1>Vorhandene Crawler:</h1>
        <hr>
    </div>
        {% for obj in object_list %}
          <div class="col-md-5">
                <h3><a href='{{obj.get_absolute_url}}'>{{ obj.title }}</a> <small>{{ obj.created }}</small></h3>
                    <p>Name: {{ obj.name|linebreaks|truncatechars:120 }}</p>
                    <p>Id: {{ obj.id }}</p>
                    <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
                    <p><small>Updated: {{ obj.updated }}</small></p>
                    <a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">Detailansicht</a>
                    <a href="{{obj.get_absolute_url}}edit" class="btn btn-default" role="button">Bearbeiten</a>
                    <a href="{{obj.get_absolute_url}}delete" class="btn btn-default" role="button">Löschen</a>
                </p>
              <hr>
          </div>
    {% cycle "" "</div><div class='row'>" %}
    {% endfor %}
</div>
<div class="col-md-5 col-md-offset-1">
    <div class="row">
        <h1>bisherige Resultate</h1>
        <hr>
    </div>
</div>
<div class="row">
<div class="col-md-11 col-md-offset-1">
<hr>
<a href="{{obj.get_absolute_url}}create" class="btn btn-primary" role="button">Crawler anlegen</a>
    </div>
</div>
{% endblock content %}