{% load staticfiles %}
<!-- DOCTYPE html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block head_title %} Try Django 1.9 {% endblock head_title %}
    </title>
    <link rel='stylesheet' href='{% static "css/base.css" %}' >
    <link rel='stylesheet' href='{% static "css/bootstrap.css" %}' >
    <!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>
<body>
{% block nav %}
<ul id="nav">
    <li>{% block nav-crawler %}<a href="{% url crawler %}">crawler</a>{% endblock %}</li>
    <li>{% block nav-benchmark %}<a href="{% url benchmark %}">benchmark</a>{% endblock %}</li>
</ul>
{% endblock %}
{% include "includes/messages_display.html" %}
<div class='container'>
    {% block content %}

    {% endblock content %}
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>

