{% extends "general/base.html" %}
<div class='col-sm-6 col-sm-offset-3'>

{% block content %}
{% include "includes/topNav.html" %}
    <form method='POST' action=''>{% csrf_token %}
        <div class='col-sm-10 col-sm-offset-1'>
        <h1>Benchmark erstellen und bearbeiten</h1>
        <hr>
            {% for field in form %}
                {{ field.errors }}
                <div class="row">
                    <div class="col-md-3" style="padding:10px">{{ field.label_tag }}</div><div class="col-md-4">{{ field }}</div>
                </div>
                {% if field.help_text %} <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
        <hr>
        {% if form.instance.pk %}
        <input type='submit' value='Updaten' class="btn btn-default"/>
        {% else %}
        <input type='submit' value='Crawler erstellen' class="btn btn-default"/>
        {% endif %}
        </div>
    </form>
{% endblock content %}
</div>