{% extends "general/base.html" %}

{% block content %}
{% include "includes/topNav.html" %}
<div class="col-md-12 col-md-offset-0">
    <div class="row">
    {% for obj in availability %}
        {% if obj.online %}
        <div class="col-md-3" style="color: green;"></div>
            {{ obj.name }} | online
        {% else %}
        <div class="col-md-3" style="color: red;"></div>
            {{ obj.name }} | online
        {% endif %}
    {% endfor %}
    </div>
</div>
<div class="col-md-6 col-md-offset-0">
    <div class="row">
        <h1>Benchmarks</h1>
        <hr>
    </div>
    {% for obj in object_list %}
        {% if obj.isrunning %}
            <div class="col-md-12" style="background-color:#e5ffe5; border: 1px solid #007f00; border-radius: 15px; margin-bottom: 15px">
        {% else %}
            <div class="col-md-12" style="background-color:#eeeeee; border: 1px solid #ccc; border-radius: 15px; margin-bottom: 15px">
        {% endif %}
              <div class="row">
                  <div class="col-md-12">
                    <h3><a href='{{obj.get_absolute_url}}'>{{ obj.name }} </a> <small>{{ obj.created }}</small></h3>
                      <small>
                          {% if obj.isrunning %}
                            der Benchmark läuft
                          {% endif %}
                      </small>
                  </div>
              </div>
              <div class="row" style="padding-top:10px">
                  <div class="col-md-12">
                    <div class='row' style="background-color:#eeeeee;">
                        <div class="col-md-4">Datenbanken:</div><div class="col-md-8">
                        {% if obj.useMongoDB %}
                        MongoDB,
                        {% endif %}
                        {% if obj.useNoe4J %}
                        Neo4J,
                        {% endif %}
                        {% if obj.useRedis %}
                        Redis,
                        {% endif %}
                        {% if obj.usePostgres %}
                        Postgres
                        {% endif %}
                        </div>
                    </div>
                      <div class="row">
                        <div class="col-md-4">Faktor: </div>
                        <div class="col-md-8">{{ obj.factor }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Leserate: </div>
                        <div class="col-md-8">{{ obj.read_ratio }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Schreibrate: </div>
                        <div class="col-md-8">{{ obj.write_ratio }}</div>
                    </div>
                  </div>
              </div>
              <div class="row" style="padding:15px;">
                  <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">Detailansicht</a>
                  <a href="{{obj.get_absolute_url}}edit" class="btn btn-default" role="button">Bearbeiten</a>
                  <a href="{{obj.get_absolute_url}}delete" class="btn btn-default" role="button">Löschen</a>
                  {% if obj.isrunning %}
                    <a href="{{obj.get_absolute_url}}stop" class="btn btn-default" role="button">Stop</a></p>
                  {% else %}
                    <a href="{{obj.get_absolute_url}}start" class="btn btn-default" role="button">Start</a></p>
                  {% endif %}
              </div>
          </div>
    {% endfor %}
        <p style="text-align:center;"><a href="{{obj.get_absolute_url}}create" class="btn btn-primary" role="button">Benchmark anlegen</a></p>
</div>
<div class="col-md-6 col-md-offset-0">
    <div class="row">
        <h1>bisherige Resultate</h1>
        <hr>
            {% for obj in results %}
          <div class="col-md-12" style="background-color:#eeeeee; border: 1px solid #ccc; border-radius: 15px; margin-bottom: 15px">
              <div class="row">
                  <div class="col-md-12">
                    <h1>{{ obj.crawler }}</a></h1>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">dataset: </div>
                  <div class="col-md-6">{{ obj.name }}</div>
              </div>
              <div class="row">
                  <div class="col-md-6">totalpages: </div>
                  <div class="col-md-6">{{ obj.created }}</div>
              </div>
              <div class="row">
                  <div class="col-md-6">crawledpages: </div>
                  <div class="col-md-6">{{ obj.benchmark.name }}</div>
              </div>
                <div class="row" style="padding:15px;">
                  <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">Detailansicht</a>
                  <a href="{{obj.get_absolute_url}}delete/" class="btn btn-default" role="button">Löschen</a>
              </div>
          </div>
    {% endfor %}
        <hr>
    </div>
</div>
{% endblock content %}
</div>
