{% extends "general/base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super}} {% endblock head_title %}
{% block content %}
{% include "includes/topNav.html" %}
<div class='col-sm-10 col-sm-offset-0'>
    <h1> Detailansicht vom Benchmark Ergebnis: <br>{{instance.name}} <br><small>vom {{ instance.created }}</small><br></h1>
    <hr>
    {% for obj in records %}
    <p>
        {{obj.created}} | {{obj.types}} | {{obj.databases}} | {{obj.operations}} | {{obj.operations}} | {{obj.amount}} | {{obj.time}}
    </p>
    {% endfor %}
    <hr>
    <div class='col-sm-12 col-sm-offset-0' style="padding:10px; text-align:center;">
        <p>
          <a href="{% url 'a2:benchmark_list' %}" class="btn btn-primary" role="button">OK</a>
          <a href="{{obj.get_absolute_url}}delete" class="btn btn-default" role="button">Löschen</a>
        </p>
    </div>
</div>
{% endblock content %}