{% extends "general/base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super}} {% endblock head_title %}
{% block content %}
{% include "includes/topNav.html" %}
<div class='col-sm-10 col-sm-offset-0'>
    <h1> Detailansicht vom Benchmark: {{instance.name}}<br> <small>{{ instance.created }}</small><br></h1>
    <hr>
    <div class='row' style="background-color:#eeeeee; padding: 10px">
        <div class="col-md-4">Faktor:</div>
        <div class="col-md-8">{{ instance.factor }}</div>
    </div>
    <hr>
    <div class='row' style="background-color:#eeeeee; padding: 10px">
        <div class="col-md-4">Lesezugriffe*:<br> <small>*Im Verhältniss zu den Lese-Zugriffen</small></div>
        <div class="col-md-8">{{ instance.read_ratio }} </div>
    </div>
    <hr>
    <div class='row' style="background-color:#eeeeee; padding: 10px">
        <div class="col-md-4">Lesezugriffe*:<br> <small>*Im Verhältniss zu den Schreib-Zugriffen</small> </div>
        <div class="col-md-8">{{ instance.write_ratio }} </div>
    </div>
    <hr>
    <div class='row' style="background-color:#eeeeee; padding: 10px">
        <div class="col-md-4">Datenbanken:</div>
        {% if instance.useMongoDB %}
        <div class="col-md-4"></div><div class="col-md-8">MongoDB</div>
        {% endif %}
        {% if instance.useNoe4J %}
        <div class="col-md-4"></div><div class="col-md-8">Neo4J</div>
        {% endif %}
        {% if instance.useRedis %}
        <div class="col-md-4"></div><div class="col-md-8">Redis</div>
        {% endif %}
        {% if instance.usePostgres %}
        <div class="col-md-4"></div><div class="col-md-8">Postgres</div>
        {% endif %}
    </div>
    <hr>
    <div class='col-sm-12 col-sm-offset-0' style="padding:10px; text-align:center;">
        <p>
          <a href="{% url 'a2:benchmark_list' %}" class="btn btn-primary" role="button">OK</a>
          <a href="{{obj.get_absolute_url}}edit" class="btn btn-default" role="button">Bearbeiten</a>
          <a href="{{obj.get_absolute_url}}delete" class="btn btn-default" role="button">Löschen</a>
        </p>
</div>
{% endblock content %}
    </div>