{% extends "general/base.html" %}

{% block content %}
<div class='col-sm-8 col-sm-offset-2'>
    <h1>{{title}}</h1>
    <div class="row">
    {% for obj in object_list %}
          <div class="col-sm-12">
            <div class="thumbnail">
              <!--<img src="..." alt="...">-->
              <div class="caption">
                <h3><a href='{{obj.get_absolute_url}}'>{{ obj.title }}</a> <small>{{ obj.created }}</small></h3>
                <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
                  <p><small>Updated: {{ obj.updated }}</small></p>
                  <p><small>Id: {{ obj.id }}</small></p>
                <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
                      <hr>
          </div>

    {% cycle "" "</div><div class='row'>" %}
    {% endfor %}
    </div>
</div>
{% endblock content %}