{% extends "general/base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super}} {% endblock head_title %}
{% block content %}
{% include "includes/topNav.html" %}
<div class='col-sm-10 col-sm-offset-0'>
    <h1>   {{instance.name}}<br> <small>{{ instance.created }}</small><br></h1>
    <hr>
        <div class="row" style="background-color:#eeeeee; padding: 20px">
            <div class="row" style="padding: 5px">
                <div class="col-md-3">uri: </div><div class="col-md-4"> {{ instance.uri }}</div>
            </div>
            <div class="row" style="padding: 5px">
                <div class="col-md-3">logo: </div><div class="col-md-4"> {{ instance.logo }}</div>
            </div>
        </div>
    <hr>
    <div class='col-sm-12 col-sm-offset-0' style="padding:10px; text-align:center;">
        <p>
          <a href="{% url 'a2:database_list' %}" class="btn btn-primary" role="button">OK</a>
          <a href="{{obj.get_absolute_url}}edit" class="btn btn-default" role="button">Bearbeiten</a>
          <a href="{{obj.get_absolute_url}}delete" class="btn btn-default" role="button">Löschen</a>
        </p>
    </div>
{% endblock content %}
</div>