{% extends "general/base.html" %}

{% block content %}
{% include "includes/topNav.html" %}
<div class="col-md-12 col-md-offset-0">
    <div class="row">
        <h1>Datenbanken</h1>
        <hr>
    </div>
    {% for obj in object_list %}
        {% if obj.isrunning %}
            <div class="col-md-12" style="background-color:#e5ffe5; border: 1px solid #007f00; border-radius: 15px; margin-bottom: 15px">
        {% else %}
            <div class="col-md-12" style="background-color:#eeeeee; border: 1px solid #ccc; border-radius: 15px; margin-bottom: 15px">
        {% endif %}
              <div class="row">
                  <div class="col-md-12">
                    <h3><a href='{{obj.get_absolute_url}}'>{{ obj.name }} </a> <small>{{ obj.created }}</small></h3>
                      <small>
                          {% if obj.isrunning %}
                            der Benchmark läuft
                          {% endif %}
                      </small>
                  </div>
              </div>
              <div class="row" style="padding-top:10px">
                  <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">Uri: </div>
                        <div class="col-md-8">{{ obj.uri }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Logo: </div>
                        <div class="col-md-8">{{ obj.logo }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">id: </div>
                        <div class="col-md-8">{{ obj.id }}</div>
                    </div>
                  </div>
              </div>
              <div class="row" style="padding:15px;">
                  <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">Detailansicht</a>
                  <a href="{{obj.get_absolute_url}}edit" class="btn btn-default" role="button">Bearbeiten</a>
                  <a href="{{obj.get_absolute_url}}delete" class="btn btn-default" role="button">Löschen</a>
                  {% if obj.isrunning %}
                    <a href="{{obj.get_absolute_url}}stop" class="btn btn-default" role="button">Stop</a></p>
                  {% else %}
                    <a href="{{obj.get_absolute_url}}start" class="btn btn-default" role="button">Start</a></p>
                  {% endif %}
              </div>
          </div>
    {% endfor %}
        <p style="text-align:center;"><a href="{{obj.get_absolute_url}}create" class="btn btn-primary" role="button">Datenbank anlegen</a></p>
</div>
{% endblock content %}
</div>